<div class="wrapper wrapper-content animated fadeInRight school-menu">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <notify></notify>
            <div class="form-action" style="text-align: center">
                <button ng-show="vm.showButton"
                        ui-sref="empattendance.list"
                        ui-sref-opts="{reload: true}"
                        class="btn btn-md btn-white m-t-xs">
                    <strong>Go Back</strong></button>
            </div>
        </div>
        <form name="addSchoolForm" ng-submit="vm.editAttendanceFn()" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Employee  Attendance Details
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Employee ID</label>
                                <div class="col-md-9">
                                    <input type="number"
                                           name="schoolName"
                                           class="form-control"
                                           placeholder="Employee ID"
                                           ng-model="vm.editAttendance.Employee_Id"
                                           maxlength="255"
                                           readonly="vm.editAttendance.Employee_Id" 
                                           required>

                                </div>

                            </div>
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Employee Name</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="text"
                                           placeholder="Enter Employee Name"
                                           name="addressOne"
                                          
                                           required
                                           ng-model="vm.editAttendance.Employee_Name">

                                </div>
                            </div>
                        
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Shift</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="number"
                                           placeholder="Enter Shift Number"
                                           name="addressOne"
                                          
                                           required
                                           ng-model="vm.editAttendance.Shift">

                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Patient Name</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="text"
                                           name="city"
                                           placeholder="Patients_Name"
                                           
                                           required
                                           ng-model="vm.editAttendance.Patients_Name">

                                </div>
                            </div>
                             <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Patient's Address</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="text"
                                           name="state"
                                           placeholder="Patients_Address"
                                          
                                           required
                                           ng-model="vm.editAttendance.Patients_Address">

                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Working Date</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           name="postalCode"
                                           type="Date"
                                           placeholder="Enter Working Date"
                                           required
                                           ng-model="vm.editAttendance.Working_Date">

                                </div>
                            </div>


                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Present/Absent</label>
                                <div class="col-md-9">
                                 
                                            <input class=checkbox type="checkbox" ng-checked="vm.editAttendance.Present"
                                           required
                                           ng-model="vm.editAttendance.Present">

                                </div>
                                </div>
                                 
                        </div>
                    </div>


                    

                    <div class="form-action">
                        <button
                                type="submit" name="addDetails"
                                class="btn btn-md btn-primary pull-right m-t-xs m-l btn-save">
                            <strong>Save</strong></button>
                        <button ui-sref="empattendance.list"
                                ui-sref-opts="{reload: true}"
                                class="btn btn-md btn-white pull-right m-t-xs">
                            <strong>Cancel</strong></button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>