<div class="wrapper wrapper-content animated fadeInRight school-menu">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <notify></notify>
            <div class="form-action" style="text-align: center">
                <button ng-show="vm.showButton"
                        ui-sref="patient.list"
                        ui-sref-opts="{reload: true}"
                        class="btn btn-md btn-white m-t-xs">
                    <strong>Go Back</strong></button>
            </div>
        </div>
        <form name="addSchoolForm" ng-submit="vm.addpatient()" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                patient Details
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">patient ID</label>
                                <div class="col-md-9">
                                    <input type="number"
                                           name="schoolName"
                                           class="form-control"
                                           placeholder="patient ID"
                                           ng-model="vm.patient.patid"
                                           maxlength="255"
                                           required>
 <span ng-show="addSchoolForm.schoolName.$touched && addSchoolForm.schoolName.$invalid">The Patient ID is required.</span>
                                </div>

                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">patient Name:</label>
                                <div class="col-md-9">
                                    <input type="text"
                                           name="domainName"
                                           class="form-control"
                                           placeholder="patient Name"
                                           ng-model="vm.patient.patname"
                                           maxlength="255"
                                           required>
<span ng-show="addSchoolForm.domainName.$touched && addSchoolForm.domainName.$invalid">The Patient Name is required.</span>
                                </div>

                            </div>
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Address:</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="text"
                                           placeholder="Address 1"
                                           name="address"
                                           maxlength="255"
                                           required
                                           ng-model="vm.patient.address">
                                           <span ng-show="addSchoolForm.address.$touched && addSchoolForm.address.$invalid">The Address is required.</span>

                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Service Date:</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="date"
                                           name="city"
                                           placeholder="Service Date"
                                           maxlength="255"
                                           required
                                           ng-model="vm.patient.Service_date">

                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Contact Number:</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="number"
                                           name="state"
                                           placeholder="Contact Number"
                                           maxlength="255"
                                           required
                                           ng-model="vm.patient.contactnumber">
                                             <span ng-show="addSchoolForm.state.$touched && addSchoolForm.state.$invalid">The Contact number is required.</span>

                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Id Proof:</label>
                                <div class="col-md-9">
                                    <input type="file" name="id_proof" custom-on-change="ID_PROOF" accept="image/*">
                                    <img style="width: 200px; height: 200px" ng-src="{{vm.patient.id_proof}}"
                                         class="thumbnail"/>
                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Due Date:</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           name="postalCode"
                                           type="date"
                                           placeholder="Due Date"
                                           maxlength="255"
                                           required
                                           ng-model="vm.patient.ddate">
                                </div>
                            </div>
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Agreement</label>
                                <div class="col-md-9">
                                    <input type="file" name="agreement" custom-on-change="Agreement" accept="image/*">
                                    <img style="width: 200px; height: 200px" ng-src="{{vm.patient.agreement}}"
                                         class="thumbnail"/>
                                </div>
                            </div>
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Remark</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           name="sd"
                                           maxlength="20"
                                           type="text"
                                           placeholder="Remark"
                                           required
                                           ng-model="vm.patient.remark">
                                            <span ng-show="addSchoolForm.sd.$touched && addSchoolForm.sd.$invalid">The Remark is required.</span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-action">
                        <button
                            type="submit" name="addDetails"
                            class="btn btn-md btn-primary pull-right m-t-xs m-l btn-save">
                            <strong>Save</strong></button>
                        <button ui-sref="patient.list"
                                ui-sref-opts="{reload: true}"
                                class="btn btn-md btn-white pull-right m-t-xs">
                            <strong>Cancel</strong></button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
