<div class="wrapper wrapper-content animated fadeInRight employee-main">
    <div class="row">
        <div class="ibox-title">
            <div>
                <h5>
                    All Patient's
                </h5>
            </div>
            <div class="pull-right admin-btn" id="admin-btn">
                <button type="button"
                        name="addAdminBtn"
                        class="btn btn-md btn-primary m-t-xs"
                        ng-click="vm.exportToPdf()">
                    <strong>
                        Export PDF
                    </strong>
                </button>
            </div>
        </div>
        <div class="ibox-content">

            <div class="row">
                <div class="col-md-12">
                    <div ng-show="vm.showEle">
                        <h5>
                            You have no Patients yet
                        </h5>
                    </div>
                    <div class="table-responsive" id="formConfirmation">
                        <table id="userTable" class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th><h5>Patient Id</h5></th>
                                <th><h5>Patient Name</h5></th>
                                <th><h5>Address</h5></th>
                                 <th><h5>Service_Date</h5></th>
                                <th><h5>Contact Number</h5></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="c in vm.gridList track by $index">
                                <td>{{c.Patient_Id}}</td>
                                <td>{{c.Patient_Name}}</td>
                                <td>{{c.Address}}</td>
                                <td>{{c.Service_Date}}</td>
                                <td>{{c.Contact_Number}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
