<div class="wrapper wrapper-content animated fadeInRight employee-main">
    <div class="row">
        <div class="ibox-title">
            <div>
                <h5>
                    Salary
                </h5>
            </div>
            <div class="pull-right admin-btn" id="admin-btn">
                <button type="button"
                        name="addAdminBtn"
                        ui-sref="salary.add"
                        ui-sref-opts="{reload: true}"
                        class="btn btn-md btn-primary m-t-xs">
                    <strong>
                        Add Salary
                    </strong>
                </button>
            </div>
        </div>
        <div class="ibox-content">

            <div class="row">
                <div class="col-md-12">
                    <div ng-show="vm.showEle">
                        <h5>
                            You have no Salary yet
                        </h5>
                    </div>
                      <strong> Search by all parameters  </strong> <input ng-model="query"  class="form-control"/>
                    <div class="table-responsive">
                        <table id="userTable" class="table table-hover table-bordered" ng-controller="SalaryCtrl">
                            <thead>
                            <tr class="ibox-title">
                                <th><h5>Employee Id</h5></th>

 
                                <th><h5>Employee salary</h5></th>
                                <th><h5>Salary Date</h5></th>
                                <th id="action">
                                          Delete All
                                 <div class="btn-group"> 
                           
                                        <button type="button" class="btn btn-default fa fa-trash-o editBtn"         ui-sref="salary.deleteall({id: '{{c.Employee_Id}}'})"></button>

                                            </div>
                                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="c in vm.gridList| filter:query|orderBy:vm.gridList.Employee_Id ">
                                <td id="adminName">
                                    <a ui-sref="salary.edit({id: '{{c.Employee_Id}}',wd:'{{c.Salary_Date}}'})">{{c.Employee_Id}}</a>
                                </td>

                                <td id="salary">{{c.Emp_Salary}}</td>
                                <td id="salarydate">{{c.Salary_Date | date : "dd-MM-y"}}</td>

                                <td id="action">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default fa fa-edit editBtn"
                                                ui-sref="salary.edit({id: '{{c.Employee_Id}}',wd:'{{c.Salary_Date}}'})"></button>
                                        <button type="button" class="btn btn-default fa fa-trash-o editBtn"
                                                ui-sref="salary.delete({id: '{{c.Employee_Id}}',wd:'{{c.Salary_Date}}'})"></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                 <div class="col-md-6 col-md-offset-4">
                    <uib-pagination total-items="totalItems" ng-model="currentPage"
                                    items-per-page="itemsPerPage"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
