<div class="wrapper wrapper-content animated fadeInRight school-menu">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <notify></notify>
            <div class="form-action" style="text-align: center">
                <button ng-show="vm.showButton"
                        ui-sref="employee.list"
                        ui-sref-opts="{reload: true}"
                        class="btn btn-md btn-white m-t-xs">
                    <strong>Go Back</strong></button>
            </div>
        </div>
        <form name="addSchoolForm" ng-submit="vm.addEmployee()" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Employee Details
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Employee ID</label>
                                <div class="col-md-9">
                                    <input type="number"
                                           name="schoolName"
                                           class="form-control"
                                           placeholder="Employee ID"
                                           ng-model="vm.employee.id"
                                           maxlength="255"
                                           required>
<span ng-show="addSchoolForm.schoolName.$touched && addSchoolForm.schoolName.$invalid">The id is required.</span>
                                </div>

                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Employee Name:</label>
                                <div class="col-md-9">
                                    <input type="text"
                                           name="domainName"
                                           class="form-control"
                                           placeholder="Employee Name"
                                           ng-model="vm.employee.name"
                                           maxlength="255"
                                           required>
<span ng-show="addSchoolForm.domainName.$touched && addSchoolForm.domainName.$invalid">The Name is required.</span>
                                </div>

                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Contact No:</label>
                                <div class="col-md-9">
                                    <input type="number"
                                           name="contact"
                                           class="form-control"
                                           placeholder="Contact No"
                                           ng-model="vm.employee.contact"
                                           maxlength="255"
                                           required>
<span ng-show="addSchoolForm.contact.$touched && addSchoolForm.contact.$invalid">The contact is required.</span>
                                </div>

                            </div>
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Address:</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="text"
                                           placeholder="Address 1"
                                           name="addressOne"
                                           maxlength="255"
                                           required
                                           ng-model="vm.employee.address">
                                           <span ng-show="addSchoolForm.addressOne.$touched && addSchoolForm.addressOne.$invalid">The address is required.</span>

                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Joining Date:</label>
                                <div class="col-md-9">
                                    <div class='input-group date'>
                                        <input type='date' ng-model="vm.employee.join_date" class="form-control"/>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">ID Proof:</label>
                                <div class="col-md-9">
                                    <input type="file" name="id_proof" custom-on-change="ID_PROOF" accept="image/*">
                                    <img style="width: 200px; height: 200px" ng-src="{{vm.employee.id_proof}}"
                                         class="thumbnail"/>
                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Employee Photo:</label>
                                <div class="col-md-9">
                                    <input type="file" name="photo" custom-on-change="PHOTO" accept="image/*">
                                    <img style="width: 200px; height: 200px" ng-src="{{vm.employee.photo}}"
                                         class="thumbnail"/>
                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Remark:</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           name="postalCode"
                                           type="text"
                                           placeholder="Pin Code"
                                           maxlength="255"
                                           required
                                           ng-model="vm.employee.remark">
                                </div>
                            </div>
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Agreement</label>
                                <div class="col-md-9">
                                    <input type="file" name="agreement" custom-on-change="Agreement" accept="image/*">
                                    <img style="width: 200px; height: 200px" ng-src="{{vm.employee.agreement}}"
                                         class="thumbnail"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-action">
                        <button
                            type="submit" name="addDetails"
                            class="btn btn-md btn-primary pull-right m-t-xs m-l btn-save">
                            <strong>Save</strong></button>
                        <button ui-sref="employee.list"
                                ui-sref-opts="{reload: true}"
                                class="btn btn-md btn-white pull-right m-t-xs">
                            <strong>Cancel</strong></button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
