<div class="wrapper wrapper-content animated fadeInRight school-menu">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <notify></notify>
            <div class="form-action" style="text-align: center">
                <button ng-show="vm.showButton"
                        ui-sref="payment.list"
                        ui-sref-opts="{reload: true}"
                        class="btn btn-md btn-white m-t-xs">
                    <strong>Go Back</strong></button>
            </div>
        </div>
        <form name="addSchoolForm" ng-submit="vm.editpaymentFn()" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                patient's payment Details
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">patient ID</label>
                                <div class="col-md-9">
                                    <input type="number"
                                           name="schoolName"
                                           class="form-control"
                                           placeholder="Patient ID"
                                           ng-model="vm.editpayment.Patient_Id"
                                           maxlength="255"
                                           readonly="vm.editpayment.Patient_Id" 
                                           required>

                                </div>

                            </div>

                        
                           

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Patient_Account:</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="number"
                                           name="city"
                                           placeholder="Enter Patient Account"
                                           maxlength="255"
                                           required
                                           ng-model="vm.editpayment.Patient_Account">

                                </div>
                            </div>
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label"> Payment Date:</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="date"
                                           name="city"
                                           placeholder="Payment Date"
                                           
                                           required
                                           ng-model="vm.editpayment.Payment_Date">

                                </div>
                            </div>
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label"> Amount</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="number"
                                           name="state"
                                           placeholder="Enter Amount"
                                           required
                                           ng-model="vm.editpayment.Amount">

                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Payment Mode:</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           name="postalCode"
                                           type="text"
                                           placeholder="Enter Payment Mode"
                                           maxlength="255"
                                           required
                                           ng-model="vm.editpayment.Payment_mode">

                                </div>
                            </div>

                            
                            
                            
                        </div>
                    </div>

                    <div class="form-action">
                        <button
                                type="submit" name="addDetails"
                                class="btn btn-md btn-primary pull-right m-t-xs m-l btn-save">
                            <strong>Save</strong></button>
                        <button ui-sref="payment.list"
                                ui-sref-opts="{reload: true}"
                                class="btn btn-md btn-white pull-right m-t-xs">
                            <strong>Cancel</strong></button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>