<div class="wrapper wrapper-content animated fadeInRight school-menu">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <notify></notify>
            <div class="form-action" style="text-align: center">
                <button ng-show="vm.showButton"
                        ui-sref="ledger.list"
                        ui-sref-opts="{reload: true}"
                        class="btn btn-md btn-white m-t-xs">
                    <strong>Go Back</strong></button>
            </div>
        </div>
        <form name="addSchoolForm" ng-submit="vm.addledger()" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Ledger Details
                            </h5>
                        </div>
                        <div class="ibox-content">
                             <div class="form-group m-b-xs">
 <label class="col-md-3 control-label">Name:</label>
                                <div class="col-md-9">
                                    <input type="text"
                                           name="domainName"
                                           class="form-control"
                                           placeholder="Name"
                                           ng-model="vm.ledger.name"
                                           maxlength="255"
                                           required>
                                             <span ng-show="addSchoolForm.domainName.$touched && addSchoolForm.domainName.$invalid">The >Name is required.</span>
</div>
                                </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Date:</label>
                                <div class="col-md-9">
                                    <input type="date"
                                           name="domainName"
                                           class="form-control"
                                           placeholder="Enter Today's Date"
                                           ng-model="vm.ledger.date"
                                           maxlength="255"
                                           required>

                                </div>

                            </div>
                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Credit</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="number"
                                           placeholder="Enter Amount"
                                           name="addressOne"
                                           maxlength="255"
                                           required
                                           ng-model="vm.ledger.Credit">
                                             <span ng-show="addSchoolForm.addressOne.$touched && addSchoolForm.addressOne.$invalid">The Credit amount is required.</span>

                                </div>
                            </div>

                            <div class="form-group m-b-xs">

                                <label class="col-md-3 control-label">Debit</label>
                                <div class="col-md-9">
                                    <input class="form-control"
                                           type="number"
                                           name="city"
                                           placeholder="Enter Amount"
                                           maxlength="255"
                                           required
                                           ng-model="vm.ledger.Debit">
                                            <span ng-show="addSchoolForm.city.$touched && addSchoolForm.city.$invalid">The Debit amount is required.</span>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-action">
                        <button
                                type="submit" name="addDetails"
                                class="btn btn-md btn-primary pull-right m-t-xs m-l btn-save">
                            <strong>Save</strong></button>
                        <button ui-sref="ledger.list"
                                ui-sref-opts="{reload: true}"
                                class="btn btn-md btn-white pull-right m-t-xs">
                            <strong>Cancel</strong></button>
                    </div>
                </div>
</div>
            </div>
        </form>
    </div>
</div>