<div>
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <ul class="nav navbar-top-links">
                <li>
                    <label class="control-label school-name">Welcome</label>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h3>Login to Your Account!</h3>
        <form role="form"
              ng-submit="signin(loginForm)"
              name="loginForm"
              novalidate>

            <notify for="signIn"></notify>

            <div>
                <input class="form-control"
                       name="login"
                       required
                       ng-model="login"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-class="{ 'has-error' : loginForm.$submitted && loginForm.login.$invalid}"
                       type="text"
                       placeholder="Enter your Username">
                <i class="fa fa-user login-field-icon"></i>
            </div>

            <div>
                <input class="form-control"
                       name="password"
                       required
                       ng-model="password"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-class="{ 'has-error' : loginForm.$submitted && loginForm.password.$invalid}"
                       type="password"
                       placeholder="Password">
                <i class="fa fa-lock login-field-icon"></i>
            </div>

            <button type="submit" class="btn btn-primary block full-width">
                <strong>Login</strong>
            </button>
        </form>

    </div>
</div>
