<!-- Wrapper-->
<!--<div id="wrapper">-->

    <!--&lt;!&ndash; Navigation &ndash;&gt;-->
    <!--&lt;!&ndash;<left-navbar></left-navbar>&ndash;&gt;-->

    <!--&lt;!&ndash; Page wraper &ndash;&gt;-->
    <!--&lt;!&ndash; ng-class with current state name give you the ability to extended customization your view &ndash;&gt;-->
    <!--<div id="page-wrapper" class="gray-bg {{$state.current.name}}">-->

        <!--&lt;!&ndash; Page wrapper &ndash;&gt;-->
        <!--&lt;!&ndash;<top-navbar></top-navbar>&ndash;&gt;-->
        <!--&lt;!&ndash; Main view  &ndash;&gt;-->
        <!--<div ui-view></div>-->

        <!--&lt;!&ndash; Footer &ndash;&gt;-->
        <!--<div ng-include="'shared/templates/footer.html'"></div>-->

    <!--</div>-->
    <!--&lt;!&ndash; End page wrapper&ndash;&gt;-->



<!--</div>-->
<!-- End wrapper-->